:root {
    --red: #F00000;
    --white: #FFFFFF;
}

body {
    margin:auto; 
    padding:auto;
    max-width: 1920px;
    font-family:Poppins, sans-serif;
}

.overheader {
    background-color: red;
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid red;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: red;
}
 
header {
    background-image:url(../img/background.webp);
    width: 1920px;
    height: 1240px;
}

.name-logo {
    font-family: Poppins, serif;
    font-size: 34px;
    font-weight: 900;
    line-height: 41px;
    margin-left: 25px;
    margin-top: 30px;
}

.want-to-work {
    background-color: #191e35;
}

    

